<div class="container">
		
<div class="row">
			
	<div class="span6">
		&copy; @DateTime.Now.Year <a href="http://example.com">Company Name</a>, all rights reserved.
	</div> <!-- /span6 -->
			
	<div id="builtby" class="span6">
		<a href="http://example.com">Built by Nick Smith.</a>				
	</div> <!-- /.span6 -->
			
</div> <!-- /row -->
		
</div> <!-- /container -->
