<div id="masthead">
	
	<div class="container">
		
		<div class="masthead-text">
			<h2>@ViewBag.Title</h2>
		</div> <!-- /.masthead-text -->

		<div class="masthead-pad">

			<div id="breadcrumb">
				<a href=@Url.Action("Index", "Home") rel="tooltip" data-placement="top" data-original-title="Home"><i class="icon-home"></i></a>
				<a href="#">Menu</a>
				<a href="#" class="current">Sub Menu</a>
			</div>	
					
		</div>
		
	</div> <!-- /.container -->	
	
</div> <!-- /#masthead -->

