@using MVC4TestBed.Models;

@model IEnumerable<MVC4TestBed.Models.Genre>

@{
	Layout = "../Shared/_SettingsLayout.cshtml";
}

@{
    ViewBag.NavMainMenu = Navigation.NavMainMenu.Admin;
    ViewBag.NavSettingsSidebar = Navigation.NavSettingsSidebar.Genres;
}

<legend>Genres</legend>

<p>
    <a href=@Url.Action("Create", "Genres") class="btn btn-secondary"><i class="icon-plus"></i> Add Genre</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Genre
            </th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>
                    @item.GenreId
                </td>
                <td>
                    @item.GenreName
                </td>
                <td>
                    <a href="@Url.Action("Edit", "Genres", new {id = item.GenreId})" 
                       rel="tooltip" data-placement="top" data-original-title="Edit">
                        <i class="icon-edit"></i>
                    </a>
                    <a href="#deleteModal" data-toggle="modal"
                        rel="tooltip" data-placement="top" data-original-title="Delete">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    } <!-- foreach -->

</table>

<div class="modal hide fade" id="deleteModal" aria-hidden="true">
    
    <div class="modal-header">
        <h3>Confirm Delete</h3>
    </div>
    
    <div class="modal-body">
        <p>Are you sure you wish to delete the item?</p>
    </div>
    
    <div class="modal-footer">
        <a href="javascript:;" class="btn" data-dismiss="modal">No</a>
        <a href="javascript:;" class="btn btn-danger">Yes</a>
    </div>

</div>
